#test {
    position: relative;
    width: 50%;
}

#test img {
    display: block;
    width: 100%;
    height: 95%;
}

.overlay {
    position: absolute;
    bottom: 5%;
    left: 4%;
    right: 0;
    background-color: #37b3ed;
    overflow: hidden;
    width: 0;
    height: 95%;
    transition: .5s ease;
}

#test:hover .overlay {
    width: 92%;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 30px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Microsoft JhengHei', sans-serif;
}

.try {
    color: #37b3ed;
    font-size: 24px;
    font-family: 'Microsoft JhengHei', sans-serif;
}

p {
    font-family: 'Microsoft JhengHei', sans-serif;
    font-size: 18px;
}

#useless {
    font-family: 'Microsoft JhengHei', sans-serif;
    font-size: 18px;
    color: #265ead;
}

.portfolio-wrap img {
    width: 330px;
    max-height: 340px;
}

h3 {
    font-size: 24px;
    font-family: 'Microsoft JhengHei', sans-serif;
}

.con {
    font-size: 20px;
    font-family: 'Microsoft JhengHei', sans-serif;
}

.right {
    text-align: center;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 18px;
    font-family: 'Microsoft JhengHei', sans-serif;
    color: white;
    background-color: black;
    opacity: 0.75;
    border-style: solid;
}